<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/blog_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg  travel-navbar">
    <div class="container">
      <a class="navbar-brand logo mt-3" href="index.html">Mia Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav mx-auto mt-3 gap-3">
          <li class="nav-item mr-2"><a class="nav-link nav-link1" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link nav-link1 " href="about_us.html">About us</a></li>
          <li class="nav-item"><a class="nav-link nav-link1" href="package.html">Package</a></li>
            <li class="nav-item"><a class="nav-link nav-link1 active" href="blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link nav-link1" href="contact.html">Contact</a></li>
        </ul>
      </div>
        <a class="btn ms-auto login-button mt-3" href="login.html" role="button">Log in</a>
    </div>
</nav>

<section class="blog-hero"></section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<section class="values-section">
<main class="main-container">
    <div class="container">
        <div class="text-center">
            <h2 class="headline mt-3">Blog</h2>
            <div class="pink-line"></div>

            <p class="mt-4 mx-auto" style="max-width: 760px;">
              Every journey begins with a dream—this is where yours takes flight. Discover inspiring destinations, real stories, and tips to help you explore the world
            </p>
        </div>
    </div>
   </main>
</section>

<div class="container py-5">

<div class=" row justify-content-center g-4">
<div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/milan.jpg" style="height:200px; object-fit:cover;"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">A Complete Guide to Milan’s Top Attractions</h5>
    <p class="card-text">Planning a trip to Milan? Here are the 10 must-visit places that combine history, art, and modern lifestyle</p>
    <a href="https://www.yesmilano.it/en/articles/not-be-missed-top-tourist-attractions-milano" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/bali.jpg" style="height:200px; object-fit:cover;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bali Bucket List: First-Timer’s Guide</h5>
    <p class="card-text">Sun, temples, adventure, and unforgettable vibes—everything you need to make your first Bali trip epic!</p>
    <a href="https://discoveryourindonesia.com/things-to-do-in-bali-great-for-first-timers/" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>

        <div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/greece.jpg" style="height:200px; object-fit:cover;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Best Places to Stay in Greece</h5>
    <p class="card-text">From seaside towns to island gems—find the perfect spots to rest, explore, and fall in love with Greece!</p>
    <a href="https://www.thebrokebackpacker.com/where-to-stay-in-greece/" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>
    </div>

    <div class="row justify-content-center mt-3 g-4">
          <div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/international_flight.jpg" style="height:200px; object-fit:cover;"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pro Travel Tips for Your International Flight</h5>
    <p class="card-text">Must know expert advice to prep, pack smart, beat jet lag, stay comfy, and breeze through your next long haul trip!</p>
    <a href="https://www.going.com/guides/international-flight-tips" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/airport.jpg" style="height:200px; object-fit:cover;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">How the Iran War Is Impacting Global Travel</h5>
    <p class="card-text">Flight routes are disrupted and travelers  are reconsidering their international plans. Stay informed before you fly!</p>
    <a href="https://www.bbc.com/travel/article/20260303-how-the-iran-war-is-affecting-global-travel" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>
     <div class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card h-100">
   <img class="card-img-top" src="../../images/blog/airlines.jpg" style="height:200px; object-fit:cover;"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Top Low Cost Airlines in the World 2025</h5>
    <p class="card-text">Discover the world’s best budget airlines — from AirAsia to Scoot and more — perfect for affordable global travel.</p>
    <a href="https://www.worldairlineawards.com/worlds-best-low-cost-airlines-2025/" target="_blank" class="btn btn-read">Read more</a>
  </div>
</div>
    </div>
    </div>
</div>
<footer class="text-white pt-3 mt-3">

<div class="container-fluid text-center text-md-start p-2 mt-3">
<div class="row">

<div class="col-md-3 mt-3 ">
<h5 class="fw-bold">MIA Travel</h5>
  <p>Explore the world with us!</p>
  <p>We make every journey unforgettable and stress-free.</p>
  <p>Follow us on social media for the latest travel deals!</p>
</div>

<div class="col-md-3 mt-3">
<h5 class="fw-bold">Links</h5>
<p><a href="index.html" class="text-white ">Home</a></p>
<p><a href="about_us.html" class="text-white">About Us</a></p>
<p><a href="packages.html" class="text-white ">Packages</a></p>
<p><a href="blog.html" class="text-white">Blog</a></p>
  <p><a href="blog.html" class="text-white">Contact</a></p>
</div>

<div class="col-md-3 mt-3">
<h5 class="fw-bold">Contact</h5>

<p><i class="bi bi-house me-2"></i> Tirane, Albania</p>
<p><i class="bi bi-envelope-fill me-2"></i> miatravel@gmail.com</p>
<p><i class="bi bi-telephone me-2"></i> +355 69 123 4567</p>
<p><i class="bi bi-globe me-2"></i> www.miatravel.com</p>

</div>

<div class="col-md-3 mt-3">
<h5 class="fw-bold">Follow Us</h5>

<a href="https://www.facebook.com/" class="social-icon me-2"><i class="bi bi-facebook"></i></a>
<a href="https://www.instagram.com/" class="social-icon me-2"><i class="bi bi-instagram"></i></a>
<a href="https://x.com/" class="social-icon me-2"><i class="bi bi-twitter"></i></a>
<a href="https://linkedin.com/" class="social-icon me-2"><i class="bi bi-linkedin"></i></a>

  <div class="newsletter mt-3">
  <h6 class="fw-bold">Register to our newsletter</h6>
  <form class="d-flex flex-column align-items-center mt-2 w-100">
    <input type="email" class="form-control mb-2 " placeholder="Enter your email">
    <button type="submit" class="btn btn-light text-primary">Subscribe</button>
  </form>
</div>
</div>

</div>
</div>

<div class="text-center p-3 mt-4 copyright">
© 2026 Copyright: MIA Travel
</div>

</footer>
</body>
</html>