{% extends "base.html" %}
{% block title %}Booking Detail {{ booking.id }}{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-sm p-4">

        <h3>Booking Detail</h3>

        <hr>

        <p><strong>Client:</strong> {{ booking.client.username }}</p>
        <p><strong>Package:</strong> {{ booking.package.package.title }}</p>
        <p><strong>People:</strong> {{ booking.numberOfPeople }}</p>
        <p><strong>Total Price:</strong> ${{ booking.totalPrice }}</p>

        <p>
    <strong>Status:</strong>
    <span class="status {{ booking.status }}">{{ booking.status }}</span>
</p>

        <hr>


        <div class="d-flex gap-2">


            <form method="POST" action="{% url 'booking_confirm' booking.id %}">
                {% csrf_token %}
                <button class="btn-action btn-approve">
                    Confirm
                </button>
            </form>


            <form method="POST" action="{% url 'booking_cancel' booking.id %}">
                {% csrf_token %}
                <button class="btn-action btn-cancel">
                    Cancel
                </button>
            </form>




        </div>

        <a href="{% url 'booking_list' %}" class="btn btn-secondary mt-3">
            Back
        </a>

    </div>

</div>

{% endblock %}